.card{
 
    position: fixed;
    top: 5rem;
    left: 3rem;
}
.floaticon{
    position: fixed;
    top: 15rem
}
.orders{
    display: flex;
   margin-left: 20rem;
    /* gap: 4rem; */
text-align: center;
justify-content: flex-start;

}
.orders h2{
    background-color: rgb(255, 166, 0);
    padding: 5px;
    margin-left: 2rem;

}